*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: rgb(146, 82, 82);
}
#header-el{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#tittle-el h1{s
  margin-top: 2rem;
  color: white;
}
.fa-solid{
  padding: 1px 5px;
  color: white;
  background: rgb(28, 3, 3);
  line-height: 1;
  
}
#ex-el{
  cursor: pointer;
}
#solid-el{
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#main-el{
  position: relative;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-div{
  position: relative;
}
#main-el img{
  width: 10rem;
}
#main-el h3{
  color: white;
}
#btn-el{
  background: rgb(121, 3, 3);
  color: white;
  border: none;
  padding: 4px;
  border-radius: 3px;
  position: absolute;
  right: 0.2rem;
  bottom: 0rem;
}
#btn-el:hover{
  color: aqua;
  opacity: 0.7;
  transition: all 1s linear;
  cursor: pointer;
}
#cart-div{
  margin-left: 90%;
}
#cart-tittle{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
#cart-collector{
  padding: 1rem 0rem;
  position: absolute;
  width: 15rem;
  background: rgb(157, 96, 96);;
}



/* #item-cart{
  color: white;
} */
#item-cart img{
  border-radius: 5px;
  width: 5rem;
  display: inline;
}
#item-no{
  display: inline;
}
#item-no button{
  padding: 0px 4px;
}
#total-el{
  border-top: 1px solid; 
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#del-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#check-el{
  display: flex;
  justify-content: space-around;
  align-items: center;
}





















